/* Body Style */
body{
  background-color: #171717;
}

.App {
  text-align: left;
  margin: 30px;
  color: #FFF;
}

/* Nav Styling */
nav{
  display: flex;
  justify-content: flex-end;
  margin: 18px;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  margin: 15px;
  font-size: 25px;
}

a{
  text-decoration: none;
  color: #f8f8f8;
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 750px;
  left: 20;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a:hover:before {
  visibility: visible;
  width: 3%;
}



@media (max-width: 600px){
  nav{
    justify-content: center;
    margin: 5px;
    padding: 10px;
  }
  ul{
    margin-left: 0;
    padding: 0;
  }
  li{
    font-size: 25px;
    text-align: center;
  }
  a:hover:before {
    display: none;
    width: 3%;
  }
}